body,
html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

:root {
    --fuente: #323b57;
    --caja-transparente: #323b576c;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}


/**MODAL**/

.desenfocar {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #1464a5; */
    display: flex;
}

.contenedor-modal {
    margin: auto;
    width: 60%;
    max-width: 90%;
    max-height: 90%;
    /* background-color: white; */
    /* border-radius: 1rem; */
    border: 0.1rem solid rgba(0, 0, 0, 0.219);
    padding: 0.8rem;
}


/**TRANSICIONES**/

.fade-enter-active,
.fade-leave-active {
    transition: opacity .4s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    transition: opacity .4s;
    opacity: 0
}