@media(max-width: 800px) {
    nav {
        padding: 0.5rem;
    }
    nav img {
        width: 15%;
    }
    .contenedor-info {
        flex-direction: column;
    }
    .presentacion {
        width: 100%;
    }
    .presentacion>div:first-child {
        padding: 1.5 rem;
    }
    .proyectos {
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
    }
    .titulos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulos>div {
        width: 100%;
        margin-top: 1rem;
    }
    .titulos button {
        width: 100%;
        justify-content: center;
    }
    .lista {
        width: 100%;
    }
    .lista-arq a {
        width: 100%;
        justify-content: center;
    }
    .contenedor-proyecto>div+div {
        justify-content: center;
    }
    .descripcion-proyecto p {
        text-align: center;
    }
}