@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

:root {
  --white: #ffffff;
  --white-two: #cccccc;
  --black-light: #808080;
  --black: #090909;
}
body {
  background-image: url("../../public/background.jpg");
}
p {
  margin: 0 !important;
}
h1,
button,
input,
optgroup,
select,
textarea,
p,
a {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
}

input {
  width: 50%;
  margin-top: 25px !important;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: var(--white) 1px solid;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--white-two);
}
button {
  background-color: transparent;
  color: var(--white);
  padding: 0.5rem;
  margin-top: 2rem;
  border-style: none;
  cursor: pointer;
}
.btn-contact {
  border: solid var(--white);
}

.contenedor-page {
  margin: 0 200px 0 200px;
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

.title {
  font-size: 38px;
  color: var(--white);
}

.text-footer {
  font-size: 18px;
  color: var(--white-two);
}
.text {
  font-size: 20px;
  color: var(--white);
}

.text-light {
  font-size: 18px;
  color: var(--black-light);
}
