@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #ffffff;
  --white-two: #cccccc;
  --black-light: #6b6a6a;
  --black: #090909;
  --padding-desktop: 8rem 10rem 8rem 10rem;
  --padding-middle: 5rem 3rem 5rem 3rem;
  --padding-small: 4rem 2rem 4rem 2rem;
  --padding-little: 1rem 0.5rem;
}

p {
  margin-bottom: 0 !important;
}
h1,
h2,
h3,
button,
input,
optgroup,
select,
textarea,
p {
  font-family: "IBM Plex Mono", monospace;
  margin: 0 !important;
}
a {
  cursor: pointer;
}

input {
  margin-top: 25px !important;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: var(--white) 1px solid;
  color: var(--white);
}
input:focus {
  outline: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

/* sections */
.container-section {
  padding: var(--padding-desktop);
  height: 100vh;
}

.white {
  color: var(--white);
}
.black-light {
  color: var(--black-light) !important;
}

@media (max-width: 375px) {
  .container-section {
    padding: var(--padding-little);
  }
}

@media (min-width: 376px) and (max-width: 424px) {
  .container-section {
    padding: var(--padding-small);
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .container-section {
    padding: var(--padding-small);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container-section {
    padding: var(--padding-middle);
  }
}

@media (min-width: 1024px) {
  .container-section {
    padding: var(--padding-desktop);
  }
}
