@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");

:root {
  --white: #ffffff;
  --white-two: #cccccc;
  --black-light: #808080;
  --black: #090909;
}
body {
  background-image: url("../../public/background.jpg");
  overflow-x: auto;
  overflow-y: auto;
}
p {
  margin-bottom: 0 !important;
}
h1,
button,
input,
optgroup,
select,
textarea,
p,
a {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
}
a:hover {
  color: var(--white) !important;
}

input {
  width: 50%;
  margin-top: 25px !important;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: var(--white) 1px solid;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--white-two);
}
button {
  background-color: transparent;
  color: var(--white);
  padding: 0.5rem;
  margin-top: 2rem;
  border-style: none;
  cursor: pointer;
}
.avatar {
  width: 15rem;
  height: 15rem;
  background-image: url("../../public/photo.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 2rem;
}
.photo {
  background-image: url("https://picsum.photos/600/300?grayscale");
  background-size: cover;
  width: 15rem;
  height: 300px;
}
.btn-contact {
  border: solid var(--white) 0.1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  display: inline-block;
  color: var(--white);
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

.title {
  font-size: 38px;
  color: var(--white);
}
.text {
  color: var(--white);
}
.text-black-light {
  color: var(--black-light) !important;
}

.text-footer {
  color: var(--white-two);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.footer > div {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

@media (max-width: 767px) {
  .container {
    text-align: center;
  }
  .d-flex {
    flex-direction: column;
    justify-content: center;
  }
  .avatar {
    width: 10rem;
    height: 10rem;
  }
}
