$black: #212121;
$white: #d9d9d9;

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $black;
  color: $white;
  width: 60%;
  height: 100vh;
  padding: 5rem;
  h1 {
    font-size: 4rem;
  }
  button {
    width: 7rem;
  }
}

.me {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: $white;
  width: 40%;
  padding: 5rem;
}

.img {
  background-color: white;
  height: 15rem;
  width: 15rem;
  box-shadow: 23px 23px 0px -2px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 23px 23px 0px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 23px 23px 0px -2px rgba(0, 0, 0, 1);
}
